.clip {
  position: relative;
  margin: 2em auto;
  padding: 15px 35px 15px 25px;
  width: 400px;
  height: 50px;
  background-color: #fff;
  color: #555555;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #acacac;
  &::after{
    position: absolute;
    content: '';
    top: 0px;
    width: 10px;
    right: 20px;
    border: solid 5px #fff;
    z-index: 2;
  }
  &::before{
    position: absolute;
    content: '';
    top: -15px;
    right: 10px;
    height: 55px;
    width: 15px;
    border: 3px solid #555555;
    background-color: none;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #999;
    transform: rotate(10deg);
    z-index: 1;
  }
}