.clip {
  position: relative;
  margin: 2em auto;
  padding: 15px 35px 15px 25px;
  width: 350px; /* ボックス幅 */
  height: 50px;
  background-color: #fff; /* ボックス背景色 */
  color: #555555; /* 文章色 */
  border: 1px solid #ccc; /* 枠線 */
  box-shadow: 1px 1px 1px #acacac; /* 影の色 */
}
.clip::before {
  position: absolute;
  content: '';
  top: -15px;
  right: 10px;
  height: 55px;
  width: 15px;
  border: 3px solid #555555; /*クリップ色 */
  background-color: none;
  border-radius: 12px;
  box-shadow: 1px 1px 2px #999;
  transform: rotate(10deg);
  z-index: 1;
}
.clip::after {
  position: absolute;
  content: '';
  top: 0px;
  width: 10px;
  right: 20px;
  border: solid 5px #fff; /*背景色と同じ色にする*/
  z-index: 2;
}