.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contents-bg {
  background-image: url(images/pc1.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.contents {
  background-color: rgba(0,0,0,0.6);
  height: 120px;
  padding: 190px 0px;
}

.contents-de {
  text-align: center;
  color: white;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 80px;
  text-align: center;
}

.section {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 60px;
  text-align: center;
}

.skills{
  display: flex;
  flex-wrap: wrap;
}

.skillbox{
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 700px;
}

.is_modal {
  overflow: hidden;
}

.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.content-base {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 0%;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.content-after {
  width: 600px;
  height: 300px;
  background-color: white;
}

.content-before {
  width: 300px;
  height: 150px;
  background-color: transparent;
}

.btn {
  margin: 30px;
  border: none;
  background: transparent;
}

.btn:hover {
  background: rgba(0,0,0,0.1);
}

.skillcard {
  display:flex;
}

.skillpic {
  width: 30%;
}

.skillde {
  width: 70%;
}

.skillfont {
  font-weight: 800;
  margin:10px;
}

.star5_rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
  content: '★★★★★';
}

.star5_rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */


.circleIcon {
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
  border: 9px solid black;
}

.profilebox {
  display: flex;
  margin: 0 auto;
  width: 900px;
  height: 200px;
}

.worksbox {
  display: flex;
  margin: 0 auto;
  width: 900px;
  height: 400px;
}

.workbtn {
  margin: 30px;
  border: none;
  background: transparent;
}

.workbtn:hover {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.awardbox {
  margin: 0 auto;
  width: 800px;
  height: 300px;
}