.awardbox {
  width: 800px;
  height: 300px;
  margin: 0 auto;
}

.awardpage {
  display: flex;
}

.btn {
  margin: 29px;
  border: #000000 solid 2px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  &:hover{
    transform: translateY(5px);
    border-bottom: none;
    border: #000000 solid 2px;
    cursor: pointer;
  }
}

.contents-bg {
  height: 500px;
  background-image: url(images/pc1.jpg);
  background-size: cover;
  background-position: center;
}

.contents {
  height: 120px;
  padding: 190px 0px;
  background-color: rgba(0,0,0,0.6);
}

.contents-de {
  color: white;
  text-align: center;
}

.content-work-base {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 0 auto;
  border: 0;
  outline: 0;
  height: 0%;
  width: 0%;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.content-work-after {
  width: 1150px;
  height: 600px;
  background-color: white;
}

.content-work-before {
  width: 600px;
  height: 300px;
  background-color: transparent;
}

.circleIcon {
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;
  border: 9px solid black;      /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
}

.footer {
  position: relative;
  height: 100px;
  background-color: #282c34;
  text-align: center;
}

.footerbox {
  height:40px;	/*高さは必須*/
  margin:auto 0;	/*上下をautoにします*/
	position: absolute;	/*top,bottomが0の時左右の中央揃えになります*/
	top:0;
	bottom:0;
  left:0;
	right:0;
  color:#fff;
  font-size: 15px;
}

.is_modal {
  overflow: hidden;
}

.midashi {
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 3px solid #000;
  font-size: 30px;
}

.profilebox {
  display: flex;
  width: 900px;
  height: 375px;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
.section {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 300;
  font-size: 60px;
  text-align: center;
}

.skills{
  display: flex;
  flex-wrap: wrap;
}

.skillbox{
  display: block;
  width: 900px;
  margin: 0 auto;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #fff;
  text-align: center;
}

.worksbox {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

.workbtn {
  margin: 30px;
  border: none;
  background: transparent;
  &:hover{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    cursor: pointer;
  }
}

.workpic {
  width: 600px;
}

.workde {
  width: 400px;
}

.workimg {
  width: 500px;
  height: 270px;
}